{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mx-0">
        <div class="col-sm-2 d-flex flex-column gap-3 m-3">
            {% for key, category in categories %}
                <a href="{{ path('category', {id: category.id}) }}"
                   class="category {{ (category.id == active_category.id) ? "bg-secondary text-white" : "bg-light" }} ">{{ category.name }}
                </a>
            {% endfor %}
        </div>
        <div class="col-sm-9 m-3">
            <div class="row">
                {% for good in active_category.goods %}
                    <div class="col-sm-4 col-lg-3">
                        <div class="card">
                            <div class="card__title">
                                {{ good.name }}
                            </div>
                            <div class="card__price">
                                {{ good.price }} Руб.
                            </div>
                        </div>
                    </div>
                {% else %}
                    <h4>Товары выбранной категории не найдены</h4>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
