{% extends 'base.html.twig' %}

{% block body %}
    <div class="form_container">
        <form action="{{ path('good_add') }}" method="post">
            <div class="form_title">
                Добавление товара
            </div>

            <label for="name">Наименование</label>
            <input class="form-control" autocomplete="off" type="text" id="name" name="name" required>

            <label for="price">Цена</label>
            <input class="form-control" autocomplete="off" type="number" min="0" id="price" name="price" required>

            <label for="category">Категория</label>
            <select class="form-control" name="category" id="category" required>
                <option value="">Выберите категорию</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>

            <button class="btn btn-sm btn-outline-secondary" type="submit">Сохранить</button>
        </form>
    </div>

{% endblock %}