{% extends 'base.html.twig' %}

{% block body %}

    <div class="list_wrapper">
        <div class="page_title">
            Товары
        </div>

        <a href="{{ path('admin_good_add') }}" class="btn btn-outline-secondary btn_admin_add">Добавить</a>

        <table class="table">
            <thead>
            <tr>
                <th>№</th>
                <th>Наименование</th>
                <th>Цена, руб.</th>
                <th>Категория</th>
                <th>Редактировать</th>
                <th>Удалить</th>
            </tr>
            </thead>

            <tbody>
            {% for good in goods %}
                <tr>
                    <td>{{ good.id }}</td>
                    <td>{{ good.name }}</td>
                    <td>{{ good.price }}</td>
                    <td>{{ good.category.name }}</td>
                    <td><a href="{{ path('admin_good_edit', {id: good.id}) }}">Редактировать</a></td>
                    <td><a href="{{ path('good_delete', {id: good.id}) }}" class="delete"
                           data-name="{{ good.name }}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include './includes/pagination.html.twig'  with {'path': 'admin_goods'} %}
    </div>
{% endblock %}
