{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-5">
        <div class="row">
            {% for good in goods %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <div class="card__title">
                            {{ good.name }}
                        </div>
                        <div class="card__price">
                            {{ good.price }} Руб.
                        </div>
                    </div>
                </div>
            {% else %}
                <h4>Товары не найдены</h4>
            {% endfor %}
        </div>

        {% include './includes/pagination.html.twig' with {'path': 'goods'} %}
    </div>
{% endblock %}
