{% if (pages_count != 0) %}
    <div class="d-flex justify-content-center mt-5">
        <div class="btn-group" role="group">
            {% for i in 1..pages_count %}
                <a href="{{ path(path, {page: i}) }}"
                   class="btn px-4 {{ (current_page == i) ? "btn-secondary" : "btn-outline-secondary" }}">
                    {{ i }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endif %}