{% extends 'base.html.twig' %}

{% block body %}
    <div class="form_container">
        <form action="{{ path('category_add') }}" method="post">
            <div class="form_title">
                Добавление категории
            </div>

            <label for="name">Наименование</label>
            <input class="form-control" autocomplete="off" type="text" id="name" name="name" required>

            <button class="btn btn-sm btn-outline-secondary" type="submit">Сохранить</button>
        </form>
    </div>

{% endblock %}