{% extends 'base.html.twig' %}

{% block body %}

    <div class="form_container">
        <form action="{{ path('category_edit') }}" method="post">
            <div class="form_title">
                Редактирование категории
            </div>
            <input type="hidden" name="id" value="{{ category.id }}">

            <label for="name">Наименование</label>
            <input class="form-control" type="text" autocomplete="off" id="name" name="name"
                   value="{{ category.name }}" required>

            <button class="btn btn-sm btn-outline-secondary" type="submit">Сохранить</button>
        </form>
    </div>

{% endblock %}