{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <div class="list_wrapper">
        <div class="page_title">
            Категории
        </div>

        <a href="{{ path('admin_category_add') }}" class="btn btn-outline-secondary btn_admin_add">Добавить</a>

        <table class="table">
            <thead>
            <tr>
                <th>№</th>
                <th>Наименование</th>
                <th>Редактировать</th>
                <th>Удалить</th>
            </tr>
            </thead>

            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td><a href="{{ path('admin_category_edit', {id: category.id}) }}">Редактировать</a></td>
                    <td><a href="{{ path('category_delete', {id: category.id}) }}" class="delete"
                           data-name="{{ category.name }}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include './includes/pagination.html.twig'  with {'path': 'admin_categories'} %}
    </div>
{% endblock %}
