@import "~bootstrap/scss/bootstrap.scss";

body {
  min-height: 100vh;
}

.card {
  background-color: #f8f9fa;
  border-radius: 5px;
  min-height: 150px;
  padding: 25px;
  margin-bottom: 15px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;

  color: darkslategrey;

  &__title {
    font-size: 18px;
  }

  &__price {
    text-align: right;

    font-size: 16px;
    font-weight: 700;
  }
}

.category {
  padding: 15px 20px;
  border-radius: 10px;
  text-decoration: none;

  color: darkslategrey;

  text-align: center;

  &.active {
    background-color: cornflowerblue;
    color: lightcyan;
  }
}

.list_wrapper {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;

  .page_title {
    font-size: 26px;
    font-weight: 700;
  }
}

.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 200px);

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 5px;
    padding: 35px;
    background-color: ghostwhite;
  }

  .form_title {
    font-size: 20px;
    font-weight: 700;
    color: darkslategray;
  }
}

.btn_admin_add {
  width: 10%;
}