{% extends 'base.html.twig' %}

{% block body %}

    <div class="form_container">
        <form action="{{ path('login') }}" method="post">
            <div class="form_title">
                Авторизация
            </div>

            {# If you want to control the URL the user is redirected to on success #}
            {#        {{ path('admin') }} #}
            <input type="hidden" name="_target_path" value="{{ path('admin_categories') }}">

            <label for="username">Email</label>
            <input class="form-control" type="email" id="username" name="_username" value="{{ last_username }}"
                   required>

            <label for="password">Пароль</label>
            <input class="form-control" type="password" id="password" name="_password" required>

            <span>Еще не зарегистрированы? <a href="{{ path('register') }}">Зарегистрируйтесь</a></span>
            <button class="btn btn-sm btn-outline-secondary" type="submit">Войти</button>
        </form>
    </div>

    {% if error %}
        <div class="toast-container">
            {% include './includes/toast.html.twig' with {'message':  error.messageKey|trans(error.messageData, 'security')} %}
        </div>
    {% endif %}
    
{% endblock %}