{% extends 'base.html.twig' %}

{% block body %}
    <div class="form_container">
        <form action="{{ path('register') }}" method="post">
            <div class="form_title">
                Регистрация
            </div>

            {# If you want to control the URL the user is redirected to on success #}
            {#        {{ path('admin') }} #}
            <input type="hidden" name="_target_path" value="{{ path('login') }}">

            <label for="username">Email</label>
            <input class="form-control" type="email" id="username" name="username" required>

            <label for="password">Пароль</label>
            <input class="form-control" type="password" id="password" name="password" required>

            <span>Уже зарегистрированы? <a href="{{ path('login') }}">Войдите</a></span>
            <button class="btn btn-sm btn-outline-secondary" type="submit">Зарегистрироваться</button>
        </form>
    </div>

{% endblock %}